/* Note, Harvard Crimson = rgb(165, 28, 48) */

body {
    font-family: "Arial", "Helvetica", sans-serif;
    background: #ffffff;
    background-color: beige;
}

.hglogo {
    width: 164px;
    float: right;
    margin-left: 1rem;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(165, 28, 48);
}

header img {
    margin-right: 10px;
}

h1 {
    color: rgb(165, 28, 48);
}

h2 {
    color: black;
    background-color: white;
}

h3 {
    color: black;
    background-color: white;
    line-height: 150%;
    padding-left: 2rem;
}

article {
    margin: 20px 30px 20px 30px; /* top, right, bottom, left */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
}

p {
    color: black;
    background-color: white;
    line-height: 150%;
    padding-left: 2rem;
}
